<td style="width:64px;">
	<div class="control-group" style="height:64px">
		<div class="controls">
			<img src="resources/img/noImage.png" />
		</div>
	</div>
</td>
<td style="width:10%;">
	<div class="control-group" style="">
		<div class="controls">
			<span class="view"><%= idArticulo %></span>
		</div>
	</div>
</td>
<td style="width:20%;">
	<div class="control-group" style="">
		<div class="controls">
			<span class="view"><%= nombre %></span>
		</div>
	</div>
</td>
<td style="width:15%;">
	<div class="control-group" style="">
		<div class="controls">
			<span class="view"><%= marca %></span>
		</div>
	</div>
</td>
<td style="width:15%;">
	<div class="control-group" style="">
		<div class="controls">
			<span class="view"><%= categoria %></span>
		</div>
	</div>
</td>
<td style="width:10%;">
	<div class="control-group" style="">
		<div class="controls">
			<span class="view"><%= origen %></span>
		</div>
	</div>
</td>
<td style="width:10%;">
	<div class="control-group" style="">
		<div class="controls">
			<span class="view">$ <%= precio %></span>
		</div>
	</div>
</td>
<td style="width:20%;">
	<div class="control-group" style="">
		<div class="controls">
			<span class="view"><%= idDeposito %></span>
		</div>
	</div>
</td>
