<td style="width:20%;">
	<div class="control-group" style="height:5px">
		<div class="controls">
			<span class="view"><%= username %></span>
		  	<span id="username" class="edit username"><%= username %></span>
		</div>
	</div>
</td>
<td style="width:10%;">
	<div class="control-group" style="height:5px">
		<div class="controls">
			<span class="view">***</span>
		  	<span id="password" class="edit password">***</span>
		</div>
	</div>
</td>
<td style="width:20%;">
	<div class="control-group" style="height:5px">
		<div class="controls">
			<span class="view"><%= nombre %></span>
		  	<input id="nombre" class="edit nombre" value="<%- nombre %>" required style="width:100%">
		</div>
	</div>
</td>
<td style="width:20%;">
	<div class="control-group" style="height:5px">
		<div class="controls">
			<span class="view"><%= apellido %></span>
		  	<input id="apellido" class="edit apellido" value="<%- apellido %>" required style="width:100%">
		</div>
	</div>
</td>
<td style="width:15%;">
	<div class="control-group" style="height:5px">
		<div class="controls">
			<span class="view"><%= activo ? 'SI' : 'NO' %></span>
		  	<input id="activo" type="checkbox" class="edit activo" <%- activo ? 'checked' : '' %> required>
		</div>
	</div>
</td>
<td style="width:5%;">
	<div class="view">
		<a id="editUser" role="button" style="cursor:pointer"><i class="glyphicon glyphicon-pencil"></i></a>
		<a id="deleteUser" role="button" style="cursor:pointer"><i class="glyphicon glyphicon-remove"></i></a>
	</div>
	<div class="edit">
		<a id="updateUser" role="button" style="cursor:pointer"><i class="glyphicon glyphicon-ok"></i></a>
		<a id="cancelUpdateUser" role="button" style="cursor:pointer"><i class="glyphicon glyphicon-remove"></i></a>
	</div>
</td>
